@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.side-bar nav{
    padding: 45px;
}

.side-bar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0px;
}

.side-bar{
    background-color: rgb(200, 181, 181);
    /* width: 10vw; */
    width: 400px;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif
}

.side-bar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    /* background-color: yellow; */
    width: 90vw;
}

.info-container{
    /* background-color: green; */
    height: 65vh;
    width: 80vw;
    margin: 147px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 65px;
}

.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif
}

.about{
    font-size: 45px;
}

.about-more{
    font-size: 23px;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif
}

.buttons{
    margin-top: 34px
}

.buttons button{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;
}

.buttons button:hover{
    color: dodgerblue;
    background-color: white;
}


.devpic img{
    /* width: 381px; */
    height: 65vh;
}