@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.side-bar nav{
    padding: 45px;
}

.side-bar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0px;
}

.side-bar{
    background-color: grey;
    width: 10vw;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif
}

.main{
    background-color: yellow;
    width: 90vw;
}

.info-container{
    background-color: green;
    height: 65vh;
    width: 80vw;
    margin: 147px auto;
    display: flex;
    justify-content: space-around;
}

.devinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 65px;
}

.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif
}

.about{
    font-size: 45px;
}

.devpic img{
    /* width: 381px; */
    height: 65vh;
}